################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSV2XMLConvert/FileContentIndex/read.lock
/.vs/CSV2XMLConvert/FileContentIndex/c2c112f6-6055-45c9-8db5-1dd4b5909622.vsidx
/.vs/CSV2XMLConvert/FileContentIndex/5d83f648-829a-4083-95ba-e96288e7df70.vsidx
/.gitignore
/.gitignore
